<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPM 146 Final</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body id="game-page">
    <canvas class="webgl"></canvas>

    <section class="text">
        <div class="effect">
            <h1 class="typing">Your Journey Begins...</h1>
        </div>
    </section>

    <!-- Buttons -->
    <button class="box health-bar">Health Bar</button>
    <button class="box volume-box">Volume</button>
    <button class="box narration-box">Narration</button>
    <button class="box option-box option1">Option 1</button>
    <button class="box option-box option2">Option 2</button>
    <button class="box option-box option3">Option 3</button>
    <button class="box option-box option4">Option 4</button>
    <button class="box custom-box">Custom</button>
</body>
</html>
