
.horizontal-container2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1500px;
    padding: 20px 0;
}


.horizontal-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Background color inside the border */
    width: 200px; /* Fixed width for consistency */
    margin: 20px; /* Space between items */
}



.horizontal-item2 p {
    margin-top: 10px;
    margin-right: 55px;
    /* margin-left: 5px; */
    font-size: 20px;
}



